@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');

*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1200px;
    margin: 0 auto;
}

/* LOGIN */

.imagem_login{
    background-image: url("./assets/imagem_login.png");
    height: 1024px;
    width: 860px;
    background-size: cover;
    
    
}

.fundo_login{
    background-color: #247DBD;
    
    height: 100%;
    width: 167.7%;
    margin-left: 24vw;
    clip-path: polygon(27% 0, 100% 0%, 100% 100%, 6% 100%);
    display: flex;
    justify-content: center;
    align-items: center;

}
.form_login{
    /* background-color: white; */
    
    height: 700px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
    
    

.form_login img{
    height: 104px;
    width: 120px;
    
    
}
.form_login input{
    width: 420px;
    height:  51px;
    padding-left: 5px;
}

.form_login h1{
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-size: 40px;
    color: white;
    line-height: 54px;
    margin-bottom: 20px;
    
}
.form_login button{
    background-color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    width: 205px;
    height:  62px;
    color: white;
    margin-top: 70px;
    
}

/* HOME */

.header_Home{
    
    height: 101px;
    
}

.div_header{
    
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img_header{
    width: 120px;
    height: 104px;
}
.org_header{
    width: 380px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.org_header a{
    color: #247DBD;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 34px;
}
.login-header{
    border: 3px solid #1D05AF;
    height: 56px;
    width: 117px ;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.main_home{
    background-image: url("../assets/imagem\ de\ bem\ vindo.jpg");
}

.banner_home{
    background-image: url("../assets/imagem\ de\ bem\ vindo.jpg");
    
    height: 664px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
.banner_home h1{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 68px;
}
.banner_home hr{
    width: 540px;
    height: 0px;
    border: 2px solid #FFFFFF;
    
}
.banner_home p{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
}
.org_banner{
    width: 540px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.banner-contato{
    background-color: #237DBD;
    /* clip-path: polygon(0 0, 100% 0, 100% 76%, 0 94%); */
    clip-path: polygon(0 0, 100% 0, 100% 79%, 0 100%);
    /* width: 1440px; */
    height: 459px;  
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.org_contato{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.org_contato h2{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 54px;
    color: white;
}
.org_contato hr{
    width: 410px;
    height: 0px;
    color: black;

    border: 3px solid #000000;
    margin-bottom: 15px;
    margin-top: 20px;
}
.org_contato img{
    width: 33px;
    height: 28px;
}
.org_cont{
    width: 300px;
    height: 41px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    

}
.org_cont p{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    line-height: 41px
}

.divisao_home{
    background-image: url("../assets/imagem\ de\ bem\ vindo.jpg");
    height: 126px;
    
    
}

.banner_endereco{
    height: 459px;
    background-color: #237DBD;
    clip-path: polygon(0 20%, 100% 4%, 100% 100%, 0 100%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    
}
.banner_endereco h2{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 54px;
    color: white;
}
.banner_endereco hr{
    width: 410px;
    height: 0px;
    color: black;

    border: 3px solid #000000;
    margin-bottom: 20px;
    margin-top: 20px;
}
.org_endereco{
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.org_endereco ul{
    color: black;
    width: 12px;
    height: 12px;
}
.org_endereco li{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    color: white;
    
}
footer{
    
    height: 162px;
    background: #FFFFFF;
    
    
}
.org_footer{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    box-sizing: border-box;
}
.logo_footer img{
    width: 120px;
    height: 104px;  
}
.descricao_footer p{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
}
.descricao_footer{
    width: 400px;
    display: flex;
    justify-content: flex-end;
}
.org_redes{
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.org_redes img{
    width: 81px;
    height: 81px;
}


/* Adm cadastro */

.org_heade_adm{
    width: 630px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.org_heade_adm a{
    color: #247DBD;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 34px;
}

.main_adm{
    background-image: url("../assets/Rectangle\ 17.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    
}

.org_cadastro{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 41px;

    /* identical to box height */

    color: #FFFFFF;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}
.org_cadastro h2{
    margin-top: 31px;
    margin-bottom: 31px;
}

.org_cadastro form{
    width: 1200px;
    height: 744px;
    left: 222px;
    top: 265px;
    
    background: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

}
.org_cadastro input{
    width: 553px;
    height: 57px;
    background-color: #237DBD6B;
    color: black;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 34px;
    padding-left: 10px;
    
}

.bnt_cadastrar{
    width: 290px;
    height: 73px;
    background-color: rgba(40, 94, 189, 0.69);
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 34px;

    /* identical to box height */

    color: #000000;


}

.hr_cadastrar hr{
    width: 1200px;
    height: 0px;
    border: 2px solid #000000;
    transform: rotate(-0.12deg);
    margin-top: 76px;
    margin-bottom: 87px;
}
